<div class="panel" id="background">
    <app-ngx-notifier [allowDuplicates]="true" [allowHTML]="true" [dismissOnClick]="true" [insertOnTop]="false" [max]="5">
    </app-ngx-notifier>
    <div class="row">
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mx-auto card-signin" [style.background]="'white'">
                <mat-grid-list cols="12" rowHeight="50px">
                    <mat-grid-tile [colspan]="12" [rowspan]="1" [style.background]="'#745AF2'">
                        <h5 class="card-title text-center">
                            <i class="ti-user"></i> Acceso
                        </h5>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="12" rowHeight="80px">
                    <mat-grid-tile [rowspan]="1" [colspan]="2">
                        <mat-icon matPrefix>mail</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="9">
                        <mat-form-field>
                            <input matInput formControlName="email" placeholder="Ingrese Correo electrónico" [ngClass]="{ 'is-invalid': submitted &&
                                f.email.errors }" class="custom-input" required autofocus>
                            <mat-error *ngIf="f.email.errors?.required">Correo electrónico es requerido</mat-error>
                            <mat-error *ngIf="f.email.errors?.email">Debes ingresa un correo electrónico válido</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="12" rowHeight="80px">
                    <mat-grid-tile [rowspan]="1" [colspan]="2">
                        <mat-icon matPrefix>lock</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="9">
                        <mat-form-field>
                            <input matInput placeholder="Ingrese
                                contraseña" [type]="hide ? 'password' :
                                'text'" formControlName="password" [ngClass]="{
                                'is-invalid':
                                submitted && f.password.errors }" required>
                            <mat-icon matSuffix (click)="hide= !hide">{{hide ? 'visibility' : 'visibility_off'}}
                            </mat-icon>
                            <mat-error *ngIf="f.password.errors?.required">Contraseña es requerido</mat-error>
                            <mat-error *ngIf="f.password.errors?.minlength">La contraseña debe tener al menos 6 caracteres
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="12">
                    <mat-grid-tile [colspan]="12" [rowspan]="1">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">recordar
              contraseña</label>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="12" rowHeight="80px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
                    <mat-grid-tile [colspan]="9">
                        <button [disabled]="loading" class="btn
                            btn-outline-success
                            btn-block btn-login"><i
                *ngIf="!loading" class="fa fa-sign-in
                                login-icon"></i>
              {{ login }}
              <img *ngIf="loading" width="20" height="20" style="margin-left: 3px" src="assets/images/icon/loading.svg" />
            </button>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="12" rowHeight="5px">
                    <mat-grid-tile [colspan]="12" [rowspan]="1" [style.background]="'#745AF2'"></mat-grid-tile>
                </mat-grid-list>
            </div>
        </form>
    </div>
</div>